<div class="container">
	<div class="row">
		<footer class="footer">
	    <div class="footer-links clearfix">
	      <div class="col-lg-2 col-md-2 col-sm-2">
	        <ul class="list-unstyled">
	          <li class="heading"><a href="#">About</a></li>
	          <li><a href="#">History</a></li>
	          <li><a href="#">Mission</a></li>
	        </ul>
	      </div>
	      <div class="col-lg-2 col-md-2 col-sm-2">
	        <ul class="list-unstyled">
	          <li class="heading"><a href="#">Products</a></li>
	          <li><a href="#">Titan</a></li>
	          <li><a href="#">Eflex</a></li>
	          <li><a href="#">Prosystem Kit</a></li>
	          <li><a href="#">CAD Library</a></li>
	        </ul>
	      </div>
	      <div class="col-lg-2 col-md-2 col-sm-2">
	        <ul class="list-unstyled">
	          <li class="heading"><a href="#">Why Airex?</a></li>
	          <li><a href="#">How it Works</a></li>
	          <li><a href="#">Patents / Guarantees</a></li>
	          <li><a href="#">Distributors</a></li>
	        </ul>
	      </div>
	      <div class="col-lg-2 col-md-2 col-sm-2">
	        <ul class="list-unstyled last">
	          <li class="heading"><a href="contact-us">Contact Us</a></li>
	        </ul>
	      </div>
	      <div class="col-lg-4 col-md-4 col-sm-4">
	        <ul class="list-unstyled last address">
	          <li>Airex Manufacturing Inc.</li>
	          <li>72170 Dunham Way, Suite D</li>
	          <li>Thousand Palms, CA 92276</li>
	          <li>p: (760) 343-2277</li>
	          <li>f: (760) 343-5599</li>
	          <li><a href="mailto:customerservice@airexmfg.com">customerservice@airexmfg.com</a></li>
	        </ul>
	      </div>
	    </div>
	   </footer>
	</div>
	</div>